@import "_variables.scss";

html,
body{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

.tasks{
    display: grid;
    grid-template-columns: 1fr 2fr;

    .texttasks,
    .answers{
        @extend %main_subtask;

        h3{
            border-bottom: 1px solid black;
        }
    }

    li{
        margin-bottom: 10px;
    }

    details{
        font-style: italic;
    }

    summary{
        font-style: normal;
        color: rgb(69, 141, 170);
    }

    .answers{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    header{
        background-color: darkred;
        color: white;

        text-align: left;

        line-height: 40px;
        padding: 5px;
        font-size: 18px;
        margin-bottom: 30px;

        display: flex;
        justify-content: space-between;

        position: relative;

        .basket{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            .fa{
                margin-right: 5px;
            }

            &:hover{
                border: 2px solid white;
            }
        }

        .basketList{
            border: 1px solid black;
            border-radius: 5px;

            background-color: white;
            color: black;
    
            min-height: 300px;
            width: 500px;
            padding: 20px;

            position: absolute;
            top: 100px;
            right: 5px;

            display: none;

            .basketElem{
                border-bottom: 1px solid black;
                // line-height: normal;
                // padding: 1px;
                
                display: grid;
                grid-template-columns: 20% 80%;

                img{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    margin: auto;
                }

                &::after{
                    content: '';
                    overflow: hidden;
                    clear: both;
                }
            }
        }

        .visible{
            display: block;
        }
    }

    .productElem{
        display: inline-block;
        text-align: center;

        border: 1px solid darkgray;
        margin: 5px;
        padding: 5px;
        width: 200px;

        img{
            height: 200px;
        }

        h4{
            margin-top: 10px;
            margin-bottom: 5px;
        }

        button{
            line-height: 25px;
            width: 30px;
            margin: 1px;
        }

        input{
            line-height: 25px;
            width: 40px;
        }

        .btnBuyIt{
            width: initial;
        }
    }

    .fa-plus-circle{
        font-size: 20px;
        color: green;

        &:hover{
            color:lightgreen;
            font-size: 22px;
        }
    }
}